.body {
    margin-top: 50px;
}

.product__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product__heading {
    font-size: 3.6rem;
    color: #333333;
}

.product__slection {
    width: 220px;
    height: 40px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
    position: relative;
}

.product__slection:hover>.product__options {
    display: block;
}

.product__slection-icon {
    font-size: 2rem;
}

.product__options {
    position: absolute;
    top: calc(100% + 4px);
    right: 0;
    width: 100%;
    display: none;
    animation: fadeIn linear 0.2s;
    z-index: 1;
    background-color: var(--white-color);
}

.product__options::after {
    position: absolute;
    display: block;
    content: "";
    height: 10px;
    width: 100%;
    top: 0;
    transform: translateY(-100%);
    right: 0;
}

.product__options {
    box-shadow: 0 0 4px #ccc;
}

.product__option-item {
    list-style: none;
    padding: 10px;
    transition: background-color linear 0.2s;
}

.product__option-item:hover {
    background-color: #dbdbdb;
}

/* products */
.product__item {
    border: 1px solid #ededed;
    overflow: hidden;
    margin-top: 20px;
    transition: box-shadow linear 0.2s, transform linear 0.2s;
}

.product__item:hover {
    transform: translateY(-6px);
    box-shadow: 0 0 20px #ccc;
}

.product__item:hover>.product__item-body {
    background-color: var(--primary-color);
    transform: translateY(0);
}

.product__item:hover .product__item-name {
    color: var(--white-color);
}

.product__item:hover .product__item-current-price {
    color: var(--white-color);
}

.product__item:hover .product__item-old-price {
    color: var(--white-color);
}

.product__item-img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.product__item-body {
    background-color: #fafafa;
    padding: 10px;
    transform: translateY(50px);
    transition: background-color linear 0.2s, transform linear 0.2s;
}

.product__item-name {
    text-align: center;
    color: #333;
    font-weight: 400;
    font-size: 2rem;
}

.product__item-price {
    text-align: center;
    margin: 12px 0;
}


.product__item-current-price {
    color: var(--primary-color);
    font-weight: bold;
    transition: color linear 0.2s;
}

.product__item-old-price {
    text-decoration: line-through;
    font-size: 1.4rem;
    color: #999999;
    transition: color linear 0.2s;
}

.product__item-btn {
    text-align: center;
}

.product__item-btn>a {
    display: inline-block;
    text-decoration: none;
    color: var(--white-color);
    padding: 10px 20px;
    border: 1px solid var(--white-color);
    border-radius: 20px;
}